* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.container {
    max-width: 1020px;
    width: 100%
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2d303a;
    font-family: "Lato", sans-serif;
    border-bottom: 6px solid #323746
}

.header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px 40px 35px 40px
}

.header__logo {
    font-style: normal;
    font-weight: bold;
    font-size: 24.2902px;
    line-height: 6px;
    color: #ffffff;
    letter-spacing: -0.9px;
}

.header__logo-span {
    color: #f06c64
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end
}

.header .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style-type: none;
    transform: translateY(2px)
}

.header .nav__item {
    margin-right: 13px
}

.header .nav__item:before {
    content: "\B7";
    color: #494E62;
    margin-right: 13px
}

.header .nav__item--first:before {
    content: "";
    letter-spacing: -1
}

.header .nav__item--last {
    margin-right: 0
}

.header .nav__link {
    font-style: normal;
    font-weight: bold;
    font-size: 11.6593px;
    line-height: 1;
    letter-spacing: -0.3px;
    color: #ffffff;
    text-decoration: none
}

.header .nav__link:hover {
    color: #f06c64
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f06c64;
    font-family: "Lato", sans-serif;
    border-bottom: 6px solid #EA676B
}

.slider .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 53px 40px 58px 42px
}

.slider__arrow {
    background: transparent;
    border: none;
    transform: translateY(2px)
}

.slider__content--horizontal {
    transform: translateX(6px)
}

.slider__content--vertical {
    transform: translateX(-6px)
}

.arrow {
    background: transparent;
    border: none;
    cursor: pointer;
    -webkit-filter: grayscale(0.25);
    filter: grayscale(0.25)
}

.arrow:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f2;
    color: #666d89;
    font-family: "Lato", sans-serif;
    border-bottom: 6px solid #ffffff
}

.services .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Lato;
    padding: 68px 20px 29px 40px
}

.services__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 29.6188px;
    line-height: 18px;
    color: #666d89;
    letter-spacing: -3.1px;
    margin-bottom: 29px;
    text-align: justify
}

.services__text {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    margin-bottom: 45px;
    letter-spacing: -0.4px;
    padding-right: 15px;
    text-align: justify
}

.services__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%
}

.services__card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 32px;
    padding-right: 20px;
    width: 33.33333%
}

.card__image {
    margin-right: 20px
}

.card__img {
    width: 60px;
    height: 60px
}

.card__heading-text {
    width: 100%
}

.card__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 15px;
    color: #666d89;
    letter-spacing: -1.5px;
    margin-bottom: 12px;
    text-align: justify
}

.card__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    text-align: justify
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2d303a;
    font-family: "Lato", sans-serif;
    border-bottom: 6px solid #323746
}

.portfolio .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 68px 40px 44px 40px
}

.portfolio__heading {
    font-weight: 900;
    font-size: 29.6188px;
    line-height: 18px;
    color: #666d89;
    margin-bottom: 28px;
    letter-spacing: -2px;
}

.portfolio__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    margin-bottom: 12px;
    letter-spacing: -0.5px
}

.portfolio__navigation {
    padding-left: 1px;
    margin-bottom: 19px
}

.portfolio__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap
}

.portfolio__portfolio-card {
    margin-bottom: 17px
}

.navigation__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none
}

.portfolio .nav__item {
    border: 1px solid #666d89;
    border-radius: 3px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

.portfolio .nav__item:hover {
    border: 1px solid #c5c5c5
}

.portfolio .nav__item:hover .nav__link {
    color: #dedede
}

.portfolio .nav__link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #767e9e;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0 6px
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f2;
    font-family: "Lato", sans-serif;
    border-bottom: 6px solid #ffffff
}

.about .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 69px 40px 66px 40px
}

.about__heading {
    font-weight: 900;
    font-size: 29.6188px;
    line-height: 18px;
    color: #666d89;
    margin-bottom: 28px;
    letter-spacing: -2.6px
}

.about__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    margin-bottom: 44px;
    letter-spacing: -0.4px;
    padding-right: 15px;
}

.about__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 25px
}

.about__about-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 30%
}

.about-card__img {
    margin-bottom: 14px
}

.about-card__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 17.7713px;
    line-height: 18px;
    color: #666d89;
    letter-spacing: -2.5px;
    margin-bottom: 10px;
}

.about-card__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    letter-spacing: -0.3px;
    margin-bottom: 22.78px
}

.about-card__socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center
}

.socialmedia__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 1px solid #666d89;
    border-radius: 50%;
    margin-right: 8px
}

.socialmedia__link * {
    fill: #666d89;
    overflow: visible;
    height: 14px;
    width: 14px
}

.socialmedia-link__img {
    height: 14px;
    width: 14px
}

.get-a-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f06c64;
    font-family: "Lato", sans-serif;
    border-bottom: 6px solid #ea676b
}

.get-a-quote .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 69px 40px 22px 40px
}

.get-a-quote__heading {
    width: 100%;
    font-weight: 900;
    font-size: 29.6188px;
    line-height: 18px;
    color: #f0d8d9;
    margin-bottom: 28px;
    letter-spacing: -3px
}

.get-a-quote__text {
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    margin-bottom: 43px;
    letter-spacing: -0.5px;
    /* padding-right: 15px; */
    text-align: justify
}

.get-a-quote__form {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 11px
}

.get-a-quote__contacts {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px
}

.form__input {
    width: 100%;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    background: #d6564f;
    border: none;
    border-radius: 5px;
    padding: 8px 15px 9px;
    margin-bottom: 16px;
    letter-spacing: -0.3px
}

.form__input::-webkit-input-placeholder {
    color: #f48c8f
}

.form__input::-moz-placeholder {
    color: #f48c8f
}

.form__input:-ms-input-placeholder {
    color: #f48c8f
}

.form__input::-ms-input-placeholder {
    color: #f48c8f
}

.form__input::placeholder {
    color: #f48c8f
}

.form__message {
    height: 200px;
    resize: none;
    margin-bottom: 5px;
    padding-top: 6px;
    letter-spacing: -0.1px
}

.form__button {
    line-height: 20px;
    padding: 8px 15px 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #f48c8f;
    background: #d6564f;
    border: 2px solid #ca4549;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer
}

.form__button:hover {
    color: #d6564f;
    background: #f48c8f
}

.contacts__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 17.7713px;
    line-height: 18px;
    color: #f0d8d9;
    margin-bottom: 10px;
    letter-spacing: -1.6px
}

.contacts__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    margin-bottom: 23px;
    letter-spacing: -0.2px;
    text-align: justify
}

.contacts__position {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9
}

.contacts__position-img-wrapper {
    width: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px
}

.contacts__position-img {
    height: 11px
}

.contacts__position-img--mail {
    height: auto;
    width: 12px
}

.contacts__position-link {
    color: #f0d8d9;
    text-decoration: none
}

.contacts__position-link:hover {
    text-decoration: underline
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2D303A;
    font-family: "Lato", sans-serif
}

.footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 22px 40px 22px 42px
}

.footer__copyright {
    font-size: 10px;
    color: #666d89;
    font-weight: 300;
    letter-spacing: .8px
}

.footer__footer-socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center
}

.footer-socialmedia__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 1px solid #666d89;
    border-radius: 50%;
    margin-left: 8px
}

.footer-socialmedia__link:hover {
    border-color: #ca4549
}

.footer-socialmedia-link__img {
    height: 14px;
    width: 14px
}

@font-face {
    font-family: "Lato";
    src: src("../assets/fonts/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: "Lato";
    src: src("../assets/fonts/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: "Lato";
    src: src("../assets/fonts/Lato-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900
}

@font-face {
    font-family: "Lato";
    src: src("../assets/fonts/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300
}